:root {
    --green: #94ecbf;
    --bright-grey: rgb(241 241 241);
    --dark-grey: rgb(100, 100, 100);
}

body {
    font-family: 'Montserrat';
}

#skills, #portfolio {
    text-align: center;
}


/* Headings */


.heading {
    word-spacing: 10px;
    letter-spacing: 0.6rem;
    line-height: 40px;
    font-weight: 400;
    color: rgb(43, 43, 43);
    font-style: italic;
}

.about-heading {
    margin-bottom: 40px;
    letter-spacing: 0.2rem;
}

.skills-heading {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.portfolio-heading {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}


/* Header */

header {
    position: relative;
    height: 200px;
    background: linear-gradient(340deg, var(--bright-grey) 50%, white 50%);
}

.header-name {
    position: absolute;
    top: 25%;
    left: 5%;

    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
    gap: 24px;

    letter-spacing: 1.2rem;
}

.header-name i::first-letter {
    font-family: 'Lily Script One';
    font-size: 2rem;
    font-weight: 900;
    color: var(--green);
}

.navbar {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: transparent;
}

.nav-item {
    margin: 0px 25px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}

.nav-link:hover {
    color: var(--green);
}

.navbar-toggler {
    border: none;
}


/* About Section */

#about {
    margin: 70px 13% 50px;
    text-align: center;
}

.about-text {
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: 0.1rem;
    line-height: 35px;
    color: var(--dark-grey);
}

.about-img {
    width: 220px;
    margin: 8px auto 8px 6%;

    float: right;

    border: solid;
    border-width: 1.5px;
    border-color: var(--green);
}


/* Skills Section */

.skills {
    margin: 20px 13% 50px;

    border: solid;
    border-width: 1.5px;
    border-radius: 6px;
    border-color: rgb(219, 219, 219);

    padding: 3%;

    text-align: justify;
    word-spacing: 7px;
    letter-spacing: 0.2rem;
    line-height: 30px;
    color: var(--dark-grey);
}

td {
    width: 50%;
}

.dot {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
}

.dot-green {
    background-color: var(--green);
}

.dot-grey {
    background-color: var(--bright-grey);
}

.dot-half-grey {
    background: linear-gradient(90deg, #94ecbf 50%, var(--bright-grey) 50%);
}


/* Portfolio Section */

.portfolio-container {
    display: flex;
    margin: 20px 13% 90px;
    gap: 5%;
}

.card-img-top {
    width: auto;
    height: 203.27px;
}

.card {
    width: 50%;
}

.card-body {
    text-align: left;
    font-size: 0.95rem;
}

.card-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title-container p {
    font-style: italic;
    margin-left: 20px;
}

.portfolio-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    background-color: var(--bright-grey);
    border-color: rgb(227, 227, 227);
    color: rgb(43, 43, 43);
}

.btn:hover {
    background-color: var(--green);
    border-color: var(--green);
}


/* Footer */

#footer {
    padding: 20px 0px 20px;
    text-align: center;
    background-color: var(--bright-grey);
}

.social-icon {
    margin: 30px 50px;
    color: var(--dark-grey);
}

.social-icon:hover {
    color: var(--green);
}


/* Media Querys */

@media only screen and (max-width: 992px) {

    .nav-item {
        margin: 0px 10px;
    }

    .portfolio-container {
        flex-wrap: wrap;
    }

    .card {
        width: 400px;
        margin: auto auto 40px auto;
    }
}

@media only screen and (max-width: 768px) {

    header {
        height: 350px;
    }

    .header-name {
        top: 10%;
    }

    .about-img {
        width: 300px;
        float: none;
        margin: 8px auto 40px 0px;
    }

    #about, .skills {
        margin: 50px 8% 50px;
    }

    .about-heading, .about-text, .skills {
        word-spacing: 4px;
        letter-spacing: 0.1rem;
    }

    .portfolio-container {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 475px) {

    #about, .skills, .portfolio-container {
        margin-left: 7%;
        margin-right: 7%;
    }

    .about-text, .skills, .about-heading {
        word-spacing: 2px;
        letter-spacing: 0.05rem;
    }

    .skills-heading, .portfolio-heading {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .about-img {
        width: 250px;
    }

    .card-img-top {
        height: auto;
    }

    .social-icon {
        margin: 30px 20px;
    }
}